.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main{
  flex-grow: 1;
  margin: 30px 0 80px;
}

.container{
  max-width: 1190px; // здесь контейнер на 20 пикселей больше, т.к. падинги 10 пх по бокам, чтобы при адаптиве не париться насчет этого)
  margin: 0 auto;
  padding: 0 10px;
} 

.logo{
  color: white;
  @extend %lato-400;
  span{
    background-color: $accent;
    padding: 3px 5px;
    border-radius: 3px;
  } 
}
